{% extends 'mainpage/base.html' %}
{% load static %}
{% block content %}
<div class="center">
   <h1 style="margin: 1px; font-family: 'Josefin Sans', sans-serif; font-family: 'Nunito', sans-serif;">ТЕСТ</h1>
   <p style="font-family: 'Josefin Sans', sans-serif; font-family: 'Nunito', sans-serif;">Пройди тест и получи зания!</p>
   <p></p>
   <button class="start-button">Старт</button>
</div>
<p id="cookies" style="font-family: 'Josefin Sans', sans-serif; font-family: 'Nunito', sans-serif;">🍪 Мы используем печеньки</p>
{% endblock %}